### The Below code will not Run Here.Use this code and change the DataFram accordinly.
=========================================================================================

#####  import Data Set from Local System

In [ ]:
bankloans = pd.read_csv( 'H:\\AI-DataFrame\\EcomDataFrame\\bankloans-05-10-24.csv' )
bankloans

##### Deal with Null Values

In [ ]:
bankloans_existing = bankloans_num[bankloans_num.default.isnull()==0]
bankloans_new = bankloans_num[bankloans_num.default.isnull()==1]
bankloans_existing

##### Creating Data audit Report
##### Use a general function that returns multiple values

In [ ]:
def var_summary(x):
    return pd.Series([x.count(), x.isnull().sum(), x.sum(), x.mean(), x.median(),  x.std(), x.var(), x.min(), x.dropna().quantile(0.01), x.dropna().quantile(0.05),x.dropna().quantile(0.10),x.dropna().quantile(0.25),x.dropna().quantile(0.50),x.dropna().quantile(0.75), x.dropna().quantile(0.90),x.dropna().quantile(0.95), x.dropna().quantile(0.99),x.max()],
                  index=['N', 'NMISS', 'SUM', 'MEAN','MEDIAN', 'STD', 'VAR', 'MIN', 'P1' , 'P5' ,'P10' ,'P25' ,'P50' ,'P75' ,'P90' ,'P95' ,'P99' ,'MAX'])

num_summary=bankloans_num.apply(lambda x: var_summary(x)).T
num_summary

### How to find a specific Row based on Condition

In [ ]:
FinalDF['locality'].value_counts()
row = FinalDF[FinalDF['longitude'] == -74.7689]
row

#### Drop a colum from Dataframe (axis=1 means coumn)

In [ ]:
aaa= df.drop(['B', 'C'], axis=1) = drop multiple columns
aaa= dr.drop([], axis=1) ---> Drop one column

#### Find duplicate entry and on basis or unique field

In [ ]:
df.duplicated().sum()
df["uniqueField"].duplicated().sum()

### Extract all numeric Colums from Data Fram

In [ ]:
def extract_categorical_columns(df):
    categorical_df = df.select_dtypes(include=['number'])
    return categorical_df
Numeric_Columns = extract_categorical_columns(df)
Numeric_Columns

### Extract all Categorical Colums from Data Fram

In [ ]:
def extract_categorical_columns(df):
    categorical_df = df.select_dtypes(include=['object', 'category'])
    return categorical_df
categorical_columns = extract_categorical_columns(df)
categorical_columns

### Find the no of uniqu values in a categorical column

In [ ]:
def find_categorical_frequencies(df):
    categorical_columns = df.select_dtypes(include=['object', 'category']).columns
    
    # Create a dictionary to store frequencies
    frequencies = {}
    
    for column in categorical_columns:
        frequencies[column] = df[column].value_counts().reset_index()
        frequencies[column].columns = ['Category', 'Frequency']  # Rename columns for clarity
    return frequencies

frequencies = find_categorical_frequencies(df)
for column, freq_df in frequencies.items():
    print(f"Frequencies for '{column}':")
    print(freq_df)
    print()

#### Show the missing values in %

In [ ]:
missing_values = eqafterDelete.isnull().sum()/eqafterDelete.shape[0]*100
missing_values = missing_values.apply(lambda x: f"{x:.2f}%")
# missing_values

#### Replacing some thing from something

In [ ]:

FinalDS1['sales_volume_New']=FinalDS1['sales_volume'].str.replace(' bought in past month','')

#### Finding Unique and dropping others

In [ ]:
#Keeping only unique rows
phones[phones.duplicated(keep=False)] # this will give you list of duplicate rows
FinalDS=phones.drop_duplicates(keep='first') # this will drop one duplicate and keep first record.

#### Replace NaN with Zero (0)

In [ ]:
FinalDS1['sales_volume']=FinalDS1['sales_volume'].fillna(0)

#### Replace True with 1 and False with 0

In [ ]:
df['BooleanColumn'] = df['BooleanColumn'].replace({True: 1, False: 0})

#### Replace blank with Mean

In [1]:
FinalDS1['sales_volume'] = FinalDS1['sales_volume'].fillna(FinalDS1['sales_volume'].mean())
FinalDS1['Phone_Ram_Size'] = FinalDS1['Phone_Ram_Size'].replace(0, FinalDS1['Phone_Ram_Size'].mean())

#### Remove comma if it comes at first charactor

In [ ]:
FinalDF['sources'] = FinalDF['sources'].str.lstrip(',')

#### Remove comma if it comes at last charactor

In [ ]:
FinalDF['sources'] = FinalDF['sources'].str.rstrip(',')

#### Replacing x with Y in this case 32GB to 32

In [ ]:
FinalDS1['Phone_Ram_Size']=FinalDS1['Phone_Ram_Size'].str.replace('GB','')

#### TypeCasting String to Int (32GB to 32)

In [ ]:
FinalDS1['Phone_Ram_Size']=FinalDS1['Phone_Ram_Size'].astype('int32')

#### Code to extrat only numeric fieds in a dataset

In [ ]:

numeric_var_names=[key for key in dict(bankloans.dtypes) if dict(bankloans.dtypes)[key] in ['float64', 'int64', 'float32', 'int32']]
cat_var_names=[key for key in dict(bankloans.dtypes) if dict(bankloans.dtypes)[key] in ['object']]

print (numeric_var_names)
print (cat_var_names)

bankloans_num=bankloans[numeric_var_names]

##### Filter Numeric and Non Numeric Fields

In [ ]:
numeric_var_names=[key for key in dict(bankloans.dtypes) if dict(bankloans.dtypes)[key] in ['float64', 'int64', 'float32', 'int32']]
cat_var_names=[key for key in dict(bankloans.dtypes) if dict(bankloans.dtypes)[key] in ['object']]
print (numeric_var_names)
print (cat_var_names)

##### print any value up to 2 decimal points

In [ ]:
print("Accuracy Score ===============>> %.2f" % accuracy)

#### Code to convert any row to int ---- Try with other datatype.

In [ ]:
def convert_float64_to_int64(df, column_name):
    
    if column_name in df.columns:
        # Convert the column to int64
        df[column_name] = df[column_name].astype(np.int64)
    return df
mainPhoneDF = convert_float64_to_int64(mainPhoneDF, 'product_price')

#### Converting To 0 & 1 for True False Fields

In [ ]:
def replace_boolean_with_int(phones, columns):
    for column in columns:
        if column in phones.columns:
            phones[column] = phones[column].replace({True: 1, False: 0})
    return phones
phones = replace_boolean_with_int(phones, ['is_best_seller', 'is_amazon_choice','is_prime','climate_pledge_friendly','has_variations'])

#### Find the place using latitude and longitude

In [ ]:
pip install geopy
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="geoapi")
latitude = 32.3984
longitude = -102.044
location = geolocator.reverse((latitude, longitude))
print(location.address)
# OUTPUT IS ==> Martin County, Texas, United States

#### Find all the repeted categories in a specific Colume

In [ ]:
for col in FinalDF.columns:
    print(col, ':', len(FinalDF[col].unique()), 'Label')

#### Performo One hot encoding on a particular colume and convert in 0,1 if output is in True / False

In [ ]:
#Perfoming One Hot Encoding on Alert Feature.
one_hot = pd.get_dummies(eqafterDelete['alert'], prefix='alert')
final = pd.concat([eqafterDelete, one_hot], axis=1)
earthquakesDF=final.drop(columns=['alert'], axis=1)
# earthquakesDF.sample(10)
## Changing form True/false to 0 and 1 ===========================================================
def replace_boolean_with_int(df, columns):
    for column in columns:
        if column in df.columns:
            df[column] = df[column].replace({True: 1, False: 0})
    return df
earthquakesDFAfte4zero = replace_boolean_with_int(earthquakesDF, ['alert_green', 'alert_orange','alert_red','alert_yellow'])
# earthquakesDF